* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 62.5%;
    background: lightblue;
    width: 100%;
    text-align: center;
    padding: 2rem;
}

hr {
    width: 100%;
    margin-top: 1rem;
}

h1 , hr {
    color: white ;
}

h1 {
    text-shadow: forestgreen 0 0 1.5rem;
}

#contenues {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#utilisateurName {
    margin:1rem 0 ;
    width: 20rem;
    padding: 1rem;
}

#utilisateurName, #creation {
    border-color: forestgreen;
    background: white;
    text-align: center;
}

#creation {
    width: 10rem;
}

#creation:hover {
    background: lightblue;
}

#creation , #text {
    border-radius: 1rem;
    padding: 0.7rem;
}

#text {
    margin: 1rem;
    width: 30rem;
    height: auto;
    border: solid forestgreen 1px;
    text-align: left;
    font-size: 0.9rem;
    box-shadow: forestgreen 0 0 1rem;
}
